<footer>
  <div class="navbar navbar-default navbar-static-bottom" role="navigation">
    <div class="container-fluid">
      <ul class="navbar-text">
        <li><a class="navbar-link" href="https://github.com/bitcoinfees/bitcoin-feemodel">Project Page</a></li>
        <li><a class="navbar-link" href="mailto:bitcoinfees@gmail.com">Contact</a></li>
        <li><a class="navbar-link" href="https://bittylicious.com" style="white-space: nowrap">Sponsored by Bittylicious</a></li>
      </ul>
    </div>
  </div>
</footer>
