<head>
  {% if site.enforce_ssl %}
  <script type="text/javascript">
    var host = "{{ site.enforce_ssl }}"
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
  </script>
  {% endif %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta name="description" content="Model-based, real-time bitcoin transaction fee estimation.">

  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  {% include scripts.html %}
</head>
