<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="bitcoinfees.github.io">bitcoinfees</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li {% if page.title == "Home" %} class="active" {% endif %}><a href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Docs</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Misc Stats</a></li>
      </ul>
    </div>
  </div>
</nav>
