<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/js/plotly-latest.min.js"></script>
<script src="/js/spin.min.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    _paq.push(['setTrackerUrl',  'https://api.oasis.sandstorm.io']);
    _paq.push(['setSiteId', 1]);
    _paq.push(['setApiToken', 'TPB_2mqm3iBrfgc6xsEizjzmPrUtiPUifoJutG6vsqD']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://20jt626erdlz3p7vcgsj.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

<script type="text/javascript">
  function worksheetURL(sheetnum) {
    return "https://spreadsheets.google.com/feeds/list/1ht_PLKd87Ejh2aF-YFEZWy9UGe2YoHb3AbuRtEvk0ys/" + sheetnum + "/public/values?alt=json";
  }
  function getCol(sheetObj, colname) {
    var colattr = "gsx$" + colname;
    return sheetObj.feed.entry.map(function (el) {
      return Number(el[colattr].$t);
    });
  }
  function putGraph(data, layout, graphId) {
    Plotly.newPlot(document.getElementById(graphId), data, layout);
//    window.onresize = function() {
//      Plotly.Plots.resize(document.getElementById("graph") )
//    }
  }
</script>
