<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/js/plotly-latest.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64575245-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
  function worksheetURL(sheetnum) {
    return "https://spreadsheets.google.com/feeds/list/1Ut1ztO5lrrgj2-Si3nx3Cjd1dzVaXUOne45EZ4R0as8/" + sheetnum + "/public/values?alt=json";
  }
  function getCol(sheetObj, colname) {
    var colattr = "gsx$" + colname;
    return sheetObj.feed.entry.map(function (el) {
      return Number(el[colattr].$t);
    });
  }
  function putGraph(data, layout, graphId) {
    Plotly.newPlot(document.getElementById(graphId), data, layout);
//    window.onresize = function() {
//      Plotly.Plots.resize(document.getElementById("graph") )
//    }
  }
</script>
